@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>
<br>

<h3>He's funny!</h3>
<p>Joel brings his humor to regular performances at <a href="https://www.qwcomedy.com/" target="_blank"> Quick Wits Comedy.</a></p>
<br>

<h3>He's in the know!</h3>
<p>Listen to Joel's weekly <a href="https://baconsale.com/" target="_blank">Baconsale podcast</a> about all things pop and film</p>

<a href="https://baconsale.com" target="_blank">
    <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Photo">
</a>
